<h1>Notifications</h1>

<ul>
  <% @notifications.each do |notification| %>
    <li><%= render "notifications/#{notification.notifiable_type.underscore}/#{notification.action.underscore}", actor: notification.actor, notifiable: notification.notifiable  %></li>
  <% end %>
</ul>
