<% flash.each do |msg_type, message| %>
  <div class="alert <%= bootstrap_class_for(msg_type) %>">
    <div class="container">
      <button class="btn-close" aria-label="Close" data-dismiss="alert"></button>
      <%= message %>
    </div>
  </div>
<% end %>
