<% flash.each do |msg_type, message| %>
  <div class="alert <%= bootstrap_class_for(msg_type) %> alert-dismissible fade show" role="alert">
    <div class="container">
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      <%= message %>
    </div>
  </div>
<% end %>
